<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.bsmsoft.beple_shop">

    <permission
        android:name="kr.co.bsmsoft.beple_shop.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="kr.co.bsmsoft.beple_shop.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main"
                    android:scheme="beple" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- for GCM -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="kr.co.bsmsoft.beple" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PhotoViewActivity"
            android:label="홍보 이미지"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SmsEventViewActivity"
            android:label="MMS 이벤트 문자 발송"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ImageSelectViewActivity"
            android:label="홍보 이미지 선택"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LottoEventViewActivity"
            android:label="로또 이벤트 문자 발송"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CustomerListActivity"
            android:label="고객 목록"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AutoLottoEventViewActivity"
            android:label="로또 간편 전송"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DirectMmsViewActivity"
            android:label="간편 전송"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SendMMSActivity"
            android:label="Send MMS"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AddPhoneNumberActivity"
            android:label="전화번호 추가"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TermNConditionActivity"
            android:label="이용약관"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RegisterTypeActivity"
            android:label="가입 구분"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RegisterShopActivity"
            android:label="등록"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PaymentInfoActivity"
            android:label="결재안내"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AddContactGroupActivity"
            android:label="전화번호 그룹 추가"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PermissionActivity" />

        <service android:name=".GCMIntentService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="526554117424b270a59767747770f1111dd8adea" />
    </application>

</manifest>